
button{
    width: 100%;
}
.scratch-image{
    width: 200px;
    height: 80px;
}
figure{
    background-color: black;
}

td{
    /*background-color: red;*/
 padding: 15px;
 /*background-color: black;*/
}
#first_game{
    width: 60%;
   margin:  0 auto ;
   /*background-color: green;*/
}
p{
    text-align: center;
 color: #a54132;
}
h2{
text-align: center;
color: #a54132;

}
h3{
    color: #820500;
}

body{
     background-color: #f1f1f1;
}
#second_game{
     width:100%;
    height: 630px;
    margin: 0 auto;
}
img{
    width: 10%;


}